@import url(https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap);

.html {
    font-family: 'Raleway', sans-serif;
}
body {
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    font-family: 'Raleway', sans-serif;
    padding: 15px;
    margin: 5em auto 2em auto;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*BOOTSTRAP STYLING*/

.btn-primary{
    background-color: #00909e;
}

/*Header Styling*/
.container{
    padding: 0;
}
header {
    padding-top: 2em;
    padding-bottom: 1em;
    font-family: 'Raleway', sans-serif;
    background-color: #dae1e7;
}

.navbar-brand{
    color: #142850;
    font-weight: bolder;
    font-size: 40px;
}

.navbar{
    justify-content: flex-end;
}


.nav-link{
    color: #142850;
    font-weight: 800;
    font-size: 1.05em;
}

.navbar-nav{
    display:flex;
    justify-content: space-around;
    width: 100%;
}

.headerBtnContainer {
    text-align: center;
}

.headerBtn{
    width: 70%;
}

.usersMenu{
    padding: 1rem;
}


/*Index Styling*/

.jumbotron{
    color: white;
    background-color: #dae1e7;
    border: 7px solid #142850;
}
.jumbotron p{
    text-align: right;
}

.indexContent h2{
    border-bottom: 3px solid #00909e;
    color: #142850;
}

.indexContent .btn{
    float: right;
}

.indexImg h2{
    padding: 2.5em;
    border: 7px solid #142850;
    text-align:center;
}

.newsletterBtn {
    width: 100%;
    padding: 0.75em;
    font-size: 1.25em;
    text-align: center;
}

.serviceTitle{
    text-align:center;
    text-decoration: underline #00909e;
}

.services {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.services p{
    padding: 3em;
    border: 5px solid #dae1e7;
}

.indexContainer {
    margin: 3em 0;
}


/*Footer Styling*/
footer {
   padding: 2em;
   font-family: 'Raleway', sans-serif;
   background-color: #dae1e7;
}