@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Find out More Information<br />Related to Covid-19</h1>
    <p><a href="./Appointment/Create" class="btn btn-primary btn-lg">Book Your Appointment</a></p>
</div>

<div class="indexContainer row">
    <div class="indexContent indexContent col-md-7">
        <h2>Latest News and Events</h2>
        <p>
            The arrival of the vaccines in Canada has given us a boost of optimism and we look forward to the coming months as more and more people are immunized.
            In the meanwhile, we need everyone's help to continue to mask p, stay home and maintain physical distancing...
        </p>
        <p><a class="btn btn-primary" href="">View More</a></p>
    </div>
    <div class="indexImg col-md-5 d-none d-lg-block">
        <h2>Image Here</h2>
    </div>
</div>

<div class="indexContainer row">
    <div class="indexImg col-md-5 d-none d-lg-block">
        <h2>Image Here</h2>
    </div>
    <div class="indexContent col-md-7">
        <h2>Our Mission, Vision and Values</h2>
        <p>
            Our goal is to provide high quality patiet care within the limits of our resources. Our healthcare team is
            made up of a wide range of dedicated, expert individuals who work along with your physician to provde you or your loved one
            with the best possible treament
        </p>
        <p><a class="btn btn-primary" href="">More About Us</a></p>
    </div>
</div>

<h2 class="serviceTitle">Our Services</h2>
<div class="indexContainer services">
    <div class=""><p>Cardiac/Respiratory</p></div>
    <div class=""><p>Chemotherapy</p></div>
    <div class=""><p>Diagnositc Imaging</p></div>
    <div class=""><p>Emergency</p></div>
    <div class=""><p>Infection Control</p></div>
</div>

<p class="indexContainer"><a class="newsletterBtn btn btn-primary" href="">Sign Up For Our Newsletter</a></p>